.notice_board{
  position: absolute;
  width: 232px;
  height: 785px;
  left: 20px;
  top: 212px;

  background: #AFC99F;
}
.zoom_board{
  position: absolute;
  width: 586px;
  height: 565px;
  left: 262px;
  top: 212px;

  background: #AFC99F;
}

.chat_board{
  position: absolute;
  width: 324px;
  height: 565px;
  left: 858px;
  top: 212px;

  background: #AFC99F;
}
.attending_board{
  position: absolute;
  width: 305px;
  height: 565px;
  right: 20px;
  top: 212px;

  background: #AFC99F;
}

.qanda_board{
  position: absolute;
  width: 920px;
  height: 210px;
  left: 264px;
  top: 787px;

  background: #AFC99F;
}

.memo_board{
  position: absolute;
  width: 305px;
  height: 210px;
  right: 20px;
  top: 787px;

  background: #AFC99F;
}
