.logo{
  position: absolute;
  width: 544px;
  height: 453px;
  left: 78px;
  top: 322px;

  background: url(WEBOARD.jpg);
}

.status{
  position: absolute;
  width: 217px;
  height: 153px;
  left: 622px;
  top: 237px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.id_info{
position: absolute;
width: 173px;
height: 114px;
left: 661px;
top: 599px;
background: #AFC99F;
}

.put_id{
position: absolute;
width: 430px;
height: 110px;
left: 873px;
top: 603px;

background: #CBE3BD;
}

.put_pw{
position: absolute;
width: 430px;
height: 110px;
left: 873px;
top: 444px;

background: #CBE3BD;
}

.pw_info{
position: absolute;
width: 173px;
height: 114px;
left: 661px;
top: 444px;

background: #AFC99F;
}


.join_info{
position: absolute;
width: 200px;
height: 66px;
left: 910px;
top: 786px;
background: #AFC99F;
}


.find_id{
position: absolute;
width: 200px;
height: 66px;
left: 1134px;
top: 783px;

background: #AFC99F;

}
